*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.btn{
    border: 2px solid tomato;
    background: tomato;
    color: white;
    margin-top: 15px;
    border-radius: 15px;
    padding: 12px 20px;
}

.btn:hover{
    background: transparent;
}

.btn-white{
    border: 2px solid white;
    padding: 10px;
    color: tomato;
    font-weight: bold;
    border-radius: 20px;
}
.btn-white:hover{
    background: tomato;
    color: white;
}

/* header section starts section here */

body{
    height: 1300px;
    font-family: 'inter', sans-serif
}


header{
    /* border: 3px solid tomato; */
    /* height: 100vh; */
    width: 100%;
    min-height: 420px;
    background:linear-gradient(to right, rgba(255, 99, 71, 0.3), rgba(255, 99, 71, 0.6)), url(./header.jpg);
    background-size: cover;
    background-position: center;
}
.nav-mobile{
    /* border: 3px solid black; */
    background: tomato;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    /* margin-bottom: 20px; */
}

.mobile-brandname{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.mobile-hamburger{
    height: 40px;
    /* border: 3px solid blue; */
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;

}

.menu{
    width: 80%;
    height: 3px;
    background: white;
    position: relative;
    /* display: flex;
    justify-content: center;
    transition: transform 0.4s ease; */
}

.menu::before{
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    transform: translateY(-10px);
}

.menu::after{
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    transform: translateY(10px);
}

.biggie .menu{
    background: transparent;
    /* transform: rotate(180deg); */
}

.biggie .menu::before{
    transform: translateY(0) rotate(-45deg);
}

.biggie .menu::after{
    transform: translateY(0)  rotate(45deg);

}

.mobile-links{
    width: 100%;
    background: tomato;
    position: static;
    right: 0;
    
    z-index: 3;
    transform: translateX(150%);
    transition: all 0.5s ease;
    
}
.show-inhaler{
    transform: translateX(0);
    transition: all 0.5s ease;
}
.mobile-link-container ul{
    list-style: none;
    
}
.mobile-link-container a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.mobile-link-container :hover{
    /* background: white; */
    color: tomato
}

.mobile-active-link{
    background-color: white;
    color: tomato !important;
}
.desktop-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 30px;
}

.desktop-brand-name{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 30px 20px;
    
}
.desktop-view ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
} 

.desktop-view ul a  {
    color: white;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 15px ;
}
/* .desktop-view ul a:hover{ */
    /* color: tomato; */




.text-holder{
    /* border: 3px solid tomato; */
    /* height: 450px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}
.text-holder button{
    margin-right: 20px;

}

.header-texts{
    padding: 10px 15px;
    width: 50%;
    color: white;
}

.header-texts p {
    line-height: 1.5;
    margin: 20px 0 10px 0;
}

/* about us section starts here */
.about-us-div{
    /* border: 3px solid black; */
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    /* padding: 35px 25px: */
    
}

.about-us{
    background: tomato;
    width: 30%;
    height: 230px;
    padding: 20px 30px;
    border-radius: 15px;
    color: white;
    margin: 25px 5px;
    line-height: 1.2;
}

.about-us h2{
    margin-bottom: 10px;
    padding: 10px;
}

.about-us p{
    text-align: justify;
    font-size: 15px;
}
.explore-div{
    background: tomato;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

footer{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* height: 60px; */
}

.footer-icons{
    margin: 8px 0 ;
}
.footer-icons a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

header, 
section,
footer,{
    max-width: 1500px;
    margin: 0 auto;
}